

.font-size{
  font-size:xx-large;
}

.font-size-location{
  font-size: x-large;
}

.font-title{
  font-family: 'rickandmorty';
  color: #01b0c8;
  text-shadow: 0 0 0.2em #88b952, 0 0 0.2em #88b952,
  0 0 0.2em #88b952;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #c7e399;
}
