.link-character{
  color: #fff;
  font-family: 'Tilt Neon', cursive;
}

.link-character:hover{
  color: #ffa500;
}

.status-span{
  height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background-color: rgb(85, 204, 68);
    border-radius: 50%;
}

