<div class="div-tamanho mb-5">
<h1 class="text-center title">Lista de Personagens</h1>


<div class="row">
<div *ngFor="let character of resultsCharac" class="card mb-3 bg-dark mx-auto mt-5 col-8" style="max-width: 500px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{character.image}}" class="img-fluid float-start rounded-start" alt="{{character.name}}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <div class="d-flex align-items-center">
        <a routerLink="/detail/{{character.id}}" class="card-title mt-3 h3 text-decoration-none link-character">{{character.name}}</a>
      </div>
      <div>
        <div class="status-span float-start bg-secondary"></div>
        <p class="card-text"><small class="text-success">{{character.status}} - {{character.species}}</small></p>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
