<header>

</header>
<nav class="navbar navbar-expand-sm fixed-top navbar-light">
    <div class="container">
        <a class="navbar-brand me-5" href="#">Rick And Morty</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="navbar-nav">
                <li class="nav-item active me-5 ms-5">
                    <a class="nav-link" routerLink="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="list">Listagem</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="sticky-top bg-white hidden-spacer"> </div>

<!--container-->
